<%- include('./partials/head') %>



<div class="container">
  <div class="row">
    <div class="col-lg-6  mx-auto mt-4">
      <div class="card shadow">
        <div class="card-header bg-primary">
          <h3 class="text-light">Add a post</h3>

        </div>
        <div class="card-body p-4">
          <form action="/add-post" method="post"  enctype="multipart/form-data">
            <div class="mb-3">
              <label for="slug">Slug</label>
              <input
                type="text"
                name="slug"                
                class="form-control form-control"
                placeholder="Enter slug"
                required
              />
            </div>
            <div class="mb-3">
              <label for="content" class="form-label">Content</label>
              <textarea id="content" name="content" class="form-control" rows="4" placeholder="Enter content" required></textarea>
          </div>


          <div class="mb-3">
            <label for="user_id" class="form-label">User</label>
            <select id="user_id" name="user_id" class="form-control">
              <option value=""> user</option>
              <% users.forEach(function(user) { %>
                <option value="<%= user._id %>"><%= user.name %></option>
                <% }); %>
              </select>
          </div>

          <div class="mb-3">
            <label for="tag_id" class="form-label">Tag</label>
            <select id="tag_id" name="tag_id" class="form-control">
              <option value=""> Tag</option>
              <% tags.forEach(function(tag) { %>
                <option value="<%= tag._id %>"><%= tag.name %></option>
                <% }); %>
              </select>
          </div>

          <div class="mb-3">
            <label for="category_id" class="form-label">Category</label>
            <select id="category_id" name="category_id" class="form-control">
              <option value=""> category</option>
              <% categories.forEach(function(category) { %>
                <option value="<%= category._id %>"><%= category.category %></option>
                <% }); %>
              </select>
          </div>



            <div class="mb-3">
                <label for="image">Choose an image:</label>
                <input type="file"  class="form-control" id="image" name="image">
            </div>


            <div class="mb-3 ">
              <input
                type="submit"
                slug="submit"
                value="Submit"
                class="btn btn-primary "
              />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('./partials/footer') %>
