<%- include('./partials/head') %>

<% if (message) { %>
  <div class="alert alert-dismissible fade show alert-<%= message.type %>" role="alert">
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      <strong><%= message.message %></strong>
  </div>
<% } %>


<div class="container">
  <div class="row">
    <div class="col-lg-6  mx-auto mt-4">
      <div class="card shadow">
        <div class="card-header bg-primary">
          <h3 class="text-light">Add a page</h3>

        </div>
        <div class="card-body p-4">
          <form action="/add_user" method="post">
            <div class="mb-3">
              <label for="name">Name</label>
              <input
                type="text"
                name="name"
                class="form-control form-control-lg"
                placeholder="Enter name"
                required
              />
            </div>
            <div class="mb-3">
              <label for="email">Email</label>
              <input
                type="email"
                name="email"
                class="form-control form-control-lg"
                placeholder="Enter email"
                required
              />
              <div class="mb-3">
                <label for="tag_id">Tag</label>
                <select class="form-control form-control-lg" name="tag_id" id="tag_id">
                    <option value="">Select an option</option>
                    <% tags.forEach(function(tag) { %>
                        <option value="<%= tag._id %>"><%= tag.slug %></option>
                    <% }); %>
                </select>
            </div>

            </div>
            <div class="mb-3">
              <label for="name">Password</label>
              <input
                type="password"
                name="password"
                class="form-control form-control-lg"
                placeholder="Enter password"
                required
              />
            </div>
            <div class="mb-3 ">
              <input
                type="submit"
                name="submit"
                value="Add User"
                class="btn btn-primary "
              />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('./partials/footer') %>
