<%- include('./partials/head') %>

<div class="container">
  <div class="row">
    <div class="col-lg-12 mx-auto mt-4">
      <a href="/add_user" class="btn btn-primary mb-4">Add User</a>

      <% if (message) { %>
      <div
        class="alert alert-dismissible fade show alert-<%= message.type %>"
        role="alert"
      >
        <%= message.text %>
        <button
          class="btn-close"
          type="button"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
        <strong><%= message.message %> </strong>
      </div>
      <% } %>
      <div class="table-responsive">
        <table class="table table-striped text-center">
          <thead>
            <tr class="table-dark">
              <th>Name</th>
              <th>Email</th>
              <th>Tag_id</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% users.forEach((user) => { %>

            <tr>
              <td><%= user.name %></td>
              <td><%= user.email %></td>
              <td>
                <% if (user.tag_id) { %>
                    <p>
                        <%= user.tag_id.slug %>
                    </p>
                    <% } %>
            </td>

              <td>
                <a href="/edit_user/<%= user._id %>" class="text-success"
                  ><i class="fas fa-edit fa-lg mx-1"></i
                ></a>
                <a href="/delete_user/<%= user._id %>" class="text-danger"
                  ><i class="fas fa-trash-alt fa-lg mx-1"></i
                ></a>
              </td>
            </tr>
            <% }); %>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<%- include('./partials/footer') %>
